/capa.bbl
/capa.blg
/diagnostico.aux
/diagnostico.brf
/diagnostico.glg
/diagnostico.glo
/diagnostico.gls
/diagnostico.idx
/diagnostico.lof
/diagnostico.log
/diagnostico.synctex.gz
/diagnostico.toc
/diagnostico.bbl
/diagnostico.blg
/diagnostico.ist
/diagnostico.lot
/fontes.bib.bak
/fontes.bib.sav
